.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
doc/*.html
doc/*.png
doc/*.css
doc/edoc-info
*.sublime-project
*.sublime-workspace
*~
all_runs.html
ct_default.css
ct_log_cache
ct_run*/*
index.html
jquery-latest.js
jquery.tablesorter.min.js
variables*